$BrandColor: #e00e00; // Qantas red

.TallyTable {
  p {
    margin-top: 0;
    &:last-child {
      margin: 0;
    }
  }
}

.Header {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SortBy {
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.Body {
  article {
    &:last-child {
      .ContentBox {
        border-bottom-width: 1px;
      }
    }
  }
}


.ContentBox {

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ccc;

  padding: 0.5rem 0;

  display: flex;
  min-height: 124px;

  flex-direction: column;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

}

.ContentBody {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 600px) {
    width: 70%;
  }
  @media screen and (min-width: 768px) {
    width: 75%;
  }
}

.ContentPrice {
  width: 100%;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (min-width: 600px) {
    width: 30%;
  }
  @media screen and (min-width: 768px) {
    width: 25%;
  }
}

.ContentTitle {
  h3 {
    margin: 0;
    font-weight: normal;
    @media screen and (min-width: 600px) {
      display: flex;
    }
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }


  p {
    font-size: 13px;
    margin: 0;
  }
}

.Image {
  min-width: 161px;
  min-height: 125px;
  position: relative;
  padding: 0.5rem 0;
  display: block;
  float: left;

  img {
    display: block;
    background: #e5e5e5;
  }
}

.PromoLabel {
  position: absolute;
  display: inline-block;
  background: white;
  color: $BrandColor;
  padding: 2px 6px;
  margin-top: 6px;
  font-size: 11px;
  letter-spacing: 0.1px;
  font-weight: bold;
}

.Address {
  color: #666;
}

.Amount {
  font-size: 28px;

  sup {
    font-size: 13px;
    vertical-align: 9px;
  }

  margin-bottom: 0.75rem;
}

.Save {
  color: $BrandColor;
  @media screen and (min-width: 600px) {
    min-height: 20px;
  }
}

.RoomName,
.Cancellation {
  font-size: 13px;
}

.RoomName a {
  color: $BrandColor;

  &:hover {
    text-decoration: none;
  }
}

.Cancellation {
  color: green;
  @media screen and (min-width: 600px) {
    min-height: 20px;
  }
}